.note {
    background-color: rgb(147, 251, 251);
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 200px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.add_new_note{
background-color: rgb(229, 250, 112);
}

.note_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes.new{
    
}

textarea{
    border: none;
    resize: none;
    background-color: rgb(229, 250, 112);

}

textarea:focus{
    outline: none;
}

.save_btn{
    border-radius: 0.5rem;
    background-color: rgb(230, 230, 230);
    border: none;
    padding: 0.5rem 1rem;
}

.save_btn:hover{
background-color: rgb(107, 107, 107);
cursor: pointer;
}